* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

.calc-app {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}